html {
    height:100%;
    }

body {
	margin-left: 0;
	margin-top: 0;
	height: 100%;
	font-family: sans-serif;
}
#Container {
	margin-left:auto;
	margin-right:auto;
	background:#dbdbdb;
	width:800px;
	height:100%;
	}

#Content {
	height:100%;
}
/*
#Right {
	float:right;
	color:#000;
	padding-left:15px;
	height:100%;
}
*/
#Left {
/*	float: left;*/
	width:200px;
	background:#ff0000;
	color:#000;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding-top: 10px;
	height:100%;
}

.ul {
    text-align: left;
}

.hover-image {
    border: 1px solid green;
    position: relative;
    height: 100px;
    width: 100px;
    display: inline-block;
}

.hover-content {
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
}
.hover-content:hover {
    opacity: 1.0;
}
.hover-content span {
    position: absolute;
    text-align: center;
    color: white;
    bottom: 0;
    display: block;
    height: 1.3em;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.3)
}

.copyright {
	font-size:12px;
	color:#000;
}
@media (max-width: @screen-xs-max) { ... }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }
