.jumbotron
{
	background-color:#f00;
	border: 2px solid black;
}

.jumbotron h1 {
    color:#fff;
}

.jumbotron p {
    color:#ccc
}

ul.redButtonUp li.active a{
    background-color: #f00;
}

ul.redButtonUp li.active a:hover{
    background-color: #f00;
}

ul.redButtonUp li a {
    color: #f00;
}

.notHomeH1 {
    margin: 0;
    padding: 0;
    color: #fff;
    }
    