.jumbotron
{
	background-color:#f00;
}

.jumbotron h1 {
    color:#fff;
    margin-top: 10px;
}

.jumbotron p {
    color:#ccc;
    margin-bottom: 10px;
}

ul.redButtonUp li.active a{
    background-color: #f00;
}

ul.redButtonUp li.active a:hover{
    background-color: #f00;
}

ul.redButtonUp li a {
    color: #f00;
}

.notHome {
    margin: 5px;
    padding: 0;
    color: #fff;
    }

.jumbotron p.snow {
    color: #fff;
    margin: 0;
}